# --- Archivos de Sistema Mac (El culpable) ---
.DS_Store
._*

# --- Python ---
__pycache__/
*.pyc

# --- Entornos Virtuales ---
venv/
env/
.venv/

# --- Datos y Logs ---
*.db
*.sqlite3
logs/
*.log

# --- Archivos temporales de VS Code ---
.vscode/
